<html>
<head>
        <meta charset="utf-8">
        <title>What's Your Six? | Cities</title>
        <link href = '../style.css' rel = 'stylesheet' type = 'text/css'>
</head>
<body>
  <h2>What's Your Six Group's Database. </h2>
  <h4> Menu of operations</h4>
   <ul class = "menu">
        <li class = "homeButton"> <a href='/'>Home</a></li>
        <li class = "menuButton"> <a href='/city'>List & Add Cities</a></li>
        <li class = "menuButton"> <a href='/activity'>List & Add Activities</a></li>
        <li class = "menuButton"> <a href='/hotel'>List & Add Hotels</a></li>
        <li class = "menuButton"> <a href='/airline'>List & Add Airlines</a></li>
        <li class = "menuButton"> <a href='/traveler'>List & Add Travelers</a></li>
        <li class = "menuButton"> <a href='/activityprice'>List & Add Activity Prices</a></li>
        <li class = "menuButton"> <a href='/hotelprice'>List & Add Hotel Prices</a></li>
        <li class = "menuButton"> <a href='/airlineprice'>List & Add Airline Prices</a></li>
        <li class = "menuButton"> <a href='/tripcriteria'>List & Add Trip Criteria</a></li>
        <li class = "menuButton"> <a href='/destinationtype'>List & Add Destination Types</a></li>
        <br>


  </ul>
  <br/>

<h3>Add new airline:</h3>
<form id="addAirline" action="/airline" method="post">
    Airline name: <input type="text" name="name"><br>
    Phone number: <input type="text" name="phone_number"  min="1000000000" max="9999999999"><br>
	<input type="submit" value="Submit">
 </form>
<br/>

<form id='filter_airline' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by State </label>
    <select id='state_filter' name="state"> 
    </select><br>
    <input type="button" value="Filter" onclick="filterAirlineByState()">
</form>

<form id='search_airline' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search airlines by name starting with:</label>
    <input id='airline_search_string' type='text' name='airline_search_string' value=''>
    <input type="button" value="Search" onclick="searchAirlineByName()">
</form>

<h3>Current Airlines:</h3>
<table>
    <thead> 
        <th>Airline Name</th> 
        <th>Phone Number</th> 
    </thead> 
    <tbody>
        {{#each airline}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{phone_number}}</td> 
            <td><button onclick="deleteAirline({{id}})">Delete</button></td>
            <td><a href="/airline/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
